 nav:last-child {
     width: 100%;
 }

 @media (min-width: 1280px) {
     ul.pagination {
         max-width: 1280px;
         margin-top: 6rem !important;
     }
 }

 @media (min-width: 1024px) {
     ul.pagination {
         max-width: 1024px;
     }
 }

 @media (min-width: 768px) {
     ul.pagination {
         max-width: 768px;
     }
 }

 @media (min-width: 640px) {
     ul.pagination {
         max-width: 640px;
     }
 }

 ul.pagination {
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     margin-top: 2rem;
 }

 ul.pagination>li {
     display: inline-block;
     margin: 0 1rem;
     font-size: large;
 }

 ul.pagination>li.active>span {
     color: #b7791f;
 }
